head {
  background-color: olive;
}

h1 {
  color: gold;
  background-color: olive;
}

body {
  background-color: gold;
}

p {
  color: olive;
}

img {
  border:5px solid lightgrey;
  margin:25px 10px;
  size: 350px; 300px;
}
